<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <Properties>
        <Property name="log_path">logs</Property>
    </Properties>

    <appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %l %m %n"/>
        </Console>

        <RollingRandomAccessFile name="errorlog"
                                 immediateFlush="true" fileName="${log_path}/error.log"
                                 filePattern="${log_path}/error.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} (%t:%l) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="infolog"
                                 immediateFlush="true" fileName="${log_path}/info.log"
                                 filePattern="${log_path}/meilv.log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} (%t:%l) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>

        <root level="info" includeLocation="true">
            <appender-ref ref="stdout"/>
            <appender-ref ref="errorlog"/>
        </root>

    </loggers>

</configuration>